.git
.gitignore
node_modules
venv
.venv
__pycache__
*.pyc
.DS_Store
.idea
.vscode
.gemini
backend/votewise.db
frontend/dist
frontend/node_modules
gcp_sdk/
backend/tests/
backend/.coverage
backend/.pytest_cache/
tests/
gcp_sdk/
backend/venv/
frontend/node_modules/
backend/static/
